.navbar {
	margin: 0 auto;
	padding: 12px 22px;
	display: flex;
	border-bottom: 1px solid rgb(30, 32, 41);
	align-items: center;
	max-width: 1200px;
	position: sticky;
	top: 0;
	background-color: black;
	z-index: 10;
}

.span {
	cursor: pointer;
	margin-right: 1rem;
}

.ul {
	list-style: none;
	display: none;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	margin-right: 1.5rem;
}

.li {
	margin-right: 2rem;
	cursor: pointer;
}

.link,
.iconR {
	color: white;
	text-decoration: none;
}

.icon {
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin-right: auto;
	cursor: pointer;
	text-decoration: none;
}

.llaves {
	color: var(--gray);
}

.backgroundBlack {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	z-index: 40;
	position: absolute;
	top: 0;
	left: 0;
}

.aside {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	z-index: 50;
	max-width: 300px;
	padding: 24px;
	background-color: rgb(6, 6, 6);
	height: 100vh;
	transition: transform 0.3s ease, opacity 0.3s;
	opacity: 0;
	transform: translateX(100%);
	display: block;
}

.visible {
	transform: translateX(0);
	opacity: 1;
}

.navAside {
	display: flex;
	border-bottom: 1px solid rgb(30, 32, 41);
}

.iconAside {
	font-size: 24px;
	padding-bottom: 12px;
	margin-right: auto;
	font-weight: 700;
	cursor: pointer;
}

.ulSideBar {
	margin-top: 0.75rem;
	padding: 0.5rem;
	list-style: none;
}

.liSideBar {
	margin-bottom: 2rem;
	font-weight: 600;
	cursor: pointer;
}

@media (min-width: 768px) {
	.span {
		display: none;
	}
	.ul {
		display: flex;
	}
	.aside {
		display: none;
	}
}
