.section {
	padding: 0 8px 0 8px;
	margin-top: 80px;
}

.header {
	border-bottom: 1px solid var(--borders);
}

.h1 {
	font-size: 36px;
}

.header__p {
	margin-top: 20px;
	font-size: 14px;
}

.search {
	margin: 20px 0 20px 0;
	border: 1px solid var(--borders);
	max-width: 400px;
	height: 40px;
	border-radius: 8px;
	padding: 0 10px 0 16px;
	display: flex;
	align-items: center;
}

.search__input {
	flex: 1;
	background-color: black;
	border: none;
}

@media (min-width: 768px) {
	.h1 {
		font-size: 60px;
	}
	.header__p {
		font-size: 16px;
	}
}

.body {
	padding: 40px 0 200px 0;
	gap: 30px;
}

@media (min-width: 768px) {
	.body {
		grid-template-columns: 1fr 1fr;
	}
}
