.aboutMe {
	margin-top: 100px;
	display: flex;
	margin-bottom: 1rem;
	gap: 2rem;
	flex-direction: column;
}

.aboutMe__text {
	width: 100%;
	font-size: 14px;
	color: rgb(143, 144, 148);
}

.aboutMe__h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: white;
}

.green {
	color: var(--green);
}

.aboutMe__div {
	max-width: 300px;
	max-height: 300px;
	position: relative;
}

.aboutMe__img {
	width: 100%;
	display: flex;
	justify-content: center;
}

.img {
	border-radius: 50%;
}

.img__squares {
	position: absolute;
	top: 0;
	right: -1.5rem;
	filter: invert(0.1);
	height: 100px;
	width: 100px;
}

@media (min-width: 768px) {
	.aboutMe {
		margin-top: 144px;
		flex-direction: row;
	}
	.aboutMe__text {
		width: 50%;
		font-size: 1rem;
	}
	.aboutMe__img {
		width: 50%;
	}
	.img {
	}
}

@media (min-width: 1280px) {
	.aboutMe__div {
		max-width: 350px;
		max-height: 350px;
	}
	.img__squares {
		height: 150px;
		width: 150px;
		right: -3.5rem;
	}
}
