.header {
	border-bottom: 2px solid var(--gray);
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
}

.title {
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

.meta {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
}

.profile {
	display: flex;
	align-items: center;
}

.profile__picture {
	height: 25px;
	border-radius: 50%;
	border: 1px solid var(--gray);
	margin-right: 0.75rem;
}

.name {
	color: #d6d5d5;
}

.readTime {
	color: var(--gray);
}

.titulo {
	margin-bottom: 1rem;
}

.texto {
	margin-bottom: 2rem;
}
