.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 15rem;
	margin-top: 10rem;
}

.h5 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 2rem;
}

.p {
	line-height: 24px;
	color: rgb(143, 144, 148);
}

.green {
	color: var(--green);
}
