.iconSpan {
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
	padding: 1px 8px;
	border-radius: 4px;
	font-weight: 700;
}

.reactIcon {
	background-color: rgba(144, 205, 244, 0.16);
	color: rgb(144, 205, 244);
}

.iconSpan span {
	margin-left: 5px;
}
